@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

@media (min-width: 768px) and (max-width: 1024px) {
    aside.w-64 ul li span:not(:first-child) {
        display: none;
    }

    aside.w-64 {
        width: 80px;
    }
}
